*{
    margin: 0;
    overflow-x: hidden;
}
::placeholder{
    color:white;
    padding-left: 5px;
}
.butt{
    border:none;
}
.over{
    overflow-y: hidden;
}
.color{
    background-image:linear-gradient(to right,rgba(248, 45, 10, 0.884),rgb(228, 14, 96)); 
}
.text{
    font-size: 11px;
}
.colors{
    background-color:rgba(43, 157, 250, 0.884);
    border: none;
}
a:hover{
    font-size:22px;
}

.h:hover{
    font-size: 23px;
}